# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js/React-related files
node_modules/
*.log
npm-debug.log*

# Miscellaneous
*.swp
